<section class="mb-4">
    <h2>{{"home.popularcategories" |translate}}:</h2>
    <div class="row g-3">
   @for (cat of categorylist(); track cat._id) {
    <div class="col-md-3">
        <div class="product p-2">
            <div [routerLink]="['/catallspec', cat._id]">
                <img [src]="cat.image" class="w-100 " height="345px" [alt]="cat.slug">
                <h3 class=" text-main text-center h4 ">{{cat.name }}</h3>
                
            </div>
        </div>
    </div>
   }
    </div>
 
    
</section>