
    <section>
    <div class="back  position-relative mx-5 my-3">
        <img src="../../../assets/images/1.webp " class="w-100" alt="logo">
        <div class="position-absolute h"></div>
    </div>
        <div class="row g-3 mx-5 my-3">
    @for (item of brandList() ; track item._id) {
               <div class="col-md-3">
                   <div class="product p-2">
                       <div [routerLink]="['/branddetails', item._id]">    <!-- lsa--> 
                           <img [src]="item.image" class="w-100" [alt]="item.name">
                           <h3 class="text-center h3 text-main">{{ item.name}}</h3>
                          
                           <button class="btn-main w-100 cr">See All Products</button>
                       </div>
               </div>
       
           </div>
       
     
       
           }
        </div>
</section> 



