@if (specproduct != null) {
    <section>
        <h1 class=" text-center text-main my-2">Details Product</h1>
        <div class="row align-items-center">
            <div class="col-md-3">
                <div>
                    <owl-carousel-o [options]="speccarousel">

                       @for (p of specproduct.images ; track $index) {
                        <ng-template carouselSlide >
                            <img [src]="p" class="w-100" [alt]="specproduct.title">
                        </ng-template>
                       }
                    </owl-carousel-o>
                        
                       
                    
                     
                    
                </div>
            </div>
            <div class="col-md-9">
                <div>
                    <h2>{{specproduct.title}}</h2>
                    <p class="text-muted">{{specproduct.description}}</p>
                    <h3 class="h6">{{specproduct.category.name}}</h3>
    
                    <div class="d-flex justify-content-between align-items-center">
                        <span>{{specproduct.price}} EGP</span>
                        <div>
                        
                            @for (num of [1,2,3,4,5].slice(0 , specproduct.ratingsAverage ) ; track $index) {
                                <span><i class="fas fa-star rating-color"></i></span>
                            }
                        @if ( specproduct.ratingsAverage % 1 !== 0) {
                            <i class="fa-solid fa-star-half-stroke rating-color"></i>
                        }
                            
                        <span class="text-muted">{{specproduct.ratingsAverage}}</span>
                        </div>
                                    </div>
                                <button class="btn-main w-100" (click)="addcart()">+Add to cart</button>
    
                </div>
            </div>
        </div>
    </section>
    
}
