@if(brandlist() && brandlist()!.length > 0) { 
    <section>
        <div class="row r-2 m-4">
            @for (item of brandlist() ; track item._id) {
                <div class="col-md-3 my-0">
                    <div class="product p-2 m-auto" >
                        <div [routerLink]="['/details', item._id]"  >
                            <img [src]="item.imageCover" class="w-100"  [alt]="item.title">
                            <h3 class="text-center h3 text-main ">{{ item.title |trimtext:2}}</h3>
                            <p class=" h6 .text-clamp ">{{ truncateText(item.description, 70) }}</p>
                        </div>
                        <button class="btn-main w-100 cr" (click)="addcart(item._id)">{{"home.addtocart" |translate}}</button>
                    </div>
                </div>
            }
        </div>
    </section>
}
@else { 
    <div class="d-flex justify-content-center align-items-center">
        <div class="m-2">
            <i class="fa-solid fa-x custom-icon-size"></i>
        </div>
    </div>
    <h3 class="text-center h2">{{"allorders.noprod" |translate}}</h3>
    <p class="text-center h5">{{"allorders.itlook" |translate}}</p>
}

